html {
  font-family: "Poppins", sans-serif;
  font-size: larger;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vh;
  background-color: #000000;
  margin: 3rem;
}

#thumb-container {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100px;
}

.display-image {
  height: 300px;
  width: 300px;
  display: flex;
}

.display-image.enlarged {
  height: 500px;
  width: 500px;
}

.text {
  position: absolute;
  bottom: 0;
}

button {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 3px;
}
button#next {
  position: absolute;
  top: 50vh;
  right: 5vw;
}

button#prev {
  position: absolute;
  top: 50vh;
  left: 5vw;
}
